{% extends 'base.html.twig' %}

{% block title %}Hello Contact{% endblock %}

{% block body %}


<div id="contact" class="row ">

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col-9 mx-auto mb-2 ">
            {{ form_row(form.nom) }}
        </div>
        <div class="col-9 mx-auto mb-2 ">
            {{ form_row(form.prenom) }}
        </div>
        <div class="col-9 mx-auto mb-4 ">
            {{ form_row(form.email) }}
        </div>
       
        <div class="col-9 mx-auto mb-2">
            {{ form_row(form.telephone) }}
        </div>

        <div class="col-9 mx-auto mb-2">
            {{ form_row(form.message) }}
        </div>

    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
